.loginLogo{
    margin-top: 15px;
    height: 110px;
}
.contentAdj{
    background-color: white;
    height: 500px;
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: flex-start; /* Aligns content to the top */
    padding-top: 0; /* Remove any default padding */
}
@media only screen and (max-width: 767px){
    .contentAdj{
        width: 80%;
        height: 370px;
    }
}
.layoutAdj{
    margin-top : 20px;
}
@media only screen and (max-width: 767px){  
    .layoutAdj{
    margin-top : 50px;
    }
}
.image-with-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* Adjust spacing between image and text */
        margin-top: 10%;
}
.login-text {
    font-size: 1.2rem;
}
@media only screen and (max-width: 767px){ 
    .login-text {
    font-size: 0.8rem;
}
}
.custom-input {
    --lwc-colorBorderInput: #d4d4d4e2; /* border colour*/
    --lwc-borderRadiusMedium: 0.4rem;
    --lwc-heightInput: 2.8rem;
    width: 360px;
    text-align: center;
}
.custom-input input.slds-input[type="text"] {
    text-align: center !important;
}

@media only screen and (max-width: 767px){ 
    .custom-input {
        width: 250px;
        font-size: 1.0rem;
        margin-bottom: 2px;
    }
}
.btnStyle{
    --slds-c-button-brand-color-background: #FAC710 !important;
    --sds-c-button-brand-color-border: #0e0e0d5c;
	--slds-c-button-brand-text-color:  #000000;
    /* background-color: #FAC710; */
}
.spinnerClass{
     --lwc-brandPrimary: #50A771;
}