.loginLogo{
    margin-top: 15px;
    height: 110px;
}
.contentAdj{
    background-color: white;
    height: 500px;
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: flex-start; /* Aligns content to the top */
    padding-top: 0; /* Remove any default padding */
}
@media only screen and (max-width: 767px){
    .contentAdj{
        width: 150%;
        height: 370px;
    }
}
.layoutAdj{
    margin-top : 20px;
}
@media only screen and (max-width: 767px){  
    .layoutAdj{
    margin-top : 50px;
    }
}
.image-with-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* Adjust spacing between image and text */
}
.login-text {
    font-size: 1.2rem;
}
@media only screen and (max-width: 767px){ 
    .login-text {
    font-size: 0.8rem;
}
}
.custom-input {
    --lwc-colorBorderInput: #d4d4d4e2; /* border colour*/
    --lwc-borderRadiusMedium: 0.4rem;
    --lwc-heightInput: 2.8rem;
    width: 360px;
}
@media only screen and (max-width: 767px){ 
    .custom-input {
        width: 250px;
        font-size: 1.0rem;
        margin-bottom: 2px;
    }
}
.btnStyle{
    --lwc-buttonColorBackgroundPrimary:#FAC710 !important;
    background-color: #FAC710;
}