ul.slds-p-horizontal_small {
    text-align: center;
}
ul.slds-p-horizontal_small li {
    display: inline;
    padding: 10px;
}
@media (max-width: 767px) {
div.divFull {
    flex-direction: column !important;
}
    ul.slds-p-horizontal_small li {
        display: block;
        padding: 3px;
    }
    .footerDiv{
        margin-left: 30px !important;
        margin-right: 30px !important;
    }
    div ul.slds-p-horizontal_small {
        text-align: left !important;
    }
    .slds-align_absolute-center.slds-m-bottom_small.slds-box {
        display: block;
    }
    ul.slds-p-horizontal_small {
        padding-left: 3px;
    }
}
header.slds-modal__header{
    background-color: #73BC4C;
    color: #ffffff;
}
.special:hover{
    background-color: #73BC4C;
    color: #ffffff;
    cursor: pointer;
}
.lgc-bg {
    background-color: rgb(242, 242, 242);
}
.spinner{
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
}
.resText{
    padding: 5px 0;
    color: red;
}
.formAptitude{
    width:100%;
    margin: auto;
    margin-top: 30px;
}
.slds-col.slds-size_12-of-12.slds-m-bottom--medium {
    padding: 0px 1rem 1rem 1rem;
    border-bottom: 1px solid;
    border-bottom: var(--lwc-borderWidthThin,1px) solid var(--slds-g-color-border-base-1, var(--lwc-colorBorder,#D4D4D4));
}
label.slds-form-element__label {
    color: var(--slds-c-card-text-color, var(--sds-c-card-text-color));
    font-size: 0.8125rem;
}
.slds-grid.slds-gutters {
    padding: 3px 0;
}
.divFull {
    display: flex;
    flex-direction: row-reverse;
    /* flex-direction: row; */
    justify-content: space-between;
    margin: 0 18px;
    width: 70%;
}
.divRight {
    margin-right: 40px;
}