.THIS .slds-select{
    height: 60px;
    font-size: 15px;
    padding: 0 42px;
    color:#000;
    line-height: 60px;
    background:#fff;
    border: #d2e1f5 1px solid;
    font-weight: 400;
    display: block;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    border-radius: 36px;
    border-color: #1b96ff;
	box-shadow: 0 0 3px #0176d3;
}

.THIS .dob h2{
    font-size: 12px;
    line-height: 0;
    font-weight: 700;
    padding-bottom: 0;
}

.THIS h2{
	font-size: 35px;
	line-height: 44px;
	font-weight: 700;
	padding-bottom: 40px;
}

.THIS .slds-select_container:before {
    border-bottom: 5px solid currentColor;
    top: calc((1.75rem / 2) - -4px);
    right: 15px;
}

.THIS .slds-select_container:after {
    border-top: 5px solid currentColor;
    bottom: calc((1.75rem / 2) - -4px);
    right: 15px;
}

.THIS .cls-label-hide label {
    display:none;
}

.THIS .slds-button{
    background: #91b332;
    color: #fff;
}

.THIS .slds-spinner_container  {
    background-color: rgba(0, 0, 0, 0.10);
    position:fixed !important;
}

@media only screen and (max-width: 767px){
    .THIS .dob input[type='date']{
        padding: 20px 0 0 42px;
    }
}