.pendingSessionModal button.slds-button.slds-button_icon.slds-modal__close.slds-button_icon-inverse {
    top: 0px;
    right: 2px;
}
.pendingSessionModal .slds-modal__header{
	border: none;
}
.pendingSessionModal svg.slds-icon.slds-icon_small{
	fill: black;
    width: 20px;
}
table.pendingSessionTable {
    border-collapse: collapse;
    width: 100%;
    color: #49445C;
}
.pendingSessionTable th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
.closeIcon{
    --sds-c-icon-color-foreground: #49445C;
}
.sessionFields {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    width: 100%;
    padding: 30px;
}
.sessionFields div{
    width: 33.33%;
}
.sessionDetail{
    background-color: #fff;
    margin: 20px;
    padding: 15px;
}
.signOutDiv .signOutButton{
    --sds-c-button-brand-color-background : #DB583F;
}
.signOutDiv{
    float: right;
}
.individualInput .slds-form-element__control{
    background-color: var(--slds-g-color-neutral-base-95, var(--lwc-colorBackgroundInputDisabled, rgb(243, 243, 243)));
    height: 32px;
    color: #49445C !important;
    border: 1px solid #49445C !important;
    border-radius: 5px;
    align-items: center;
    display: flex;
    padding-left: 0px;
    text-align: center;
    display: grid;
    line-height: 12px;
}
.childStatusAccordion{
    margin-left: 45px;
}
.slds-accordion__content lightning-layout.slds-grid.slds-wrap {
    margin-left: 25px;
}
.studentSessionLayout lightning-layout-item.slds-p-around_small.slds-size_1-of-12 {
    width: 12.5%;
    padding-right: 5px;
    padding-left: 5px;
}
.parentSessionLayout lightning-layout-item.slds-p-around_small.slds-size_1-of-12{
    width: 11.11%;
    padding-right: 5px;
    padding-left: 5px;
}
.parentSessionStatusBtn lightning-button{
    margin-left: 45px;
}
@media (max-width: 767px) {
    div.sessionAccordion{
        margin: 0px 0px;
        padding: 20px 10px;
    }
    .sessionFields div {
        width: 100%;
    }
    .sessionFields{
        display: block;
        padding: 60px 20px 60px 20px;
    }
    .sessionDetail{
        padding: 0px;
    }
    div.sessionFormInstruction{
        padding: 0px 20px 0px 20px;
    }
    .signOutDiv {
        float: right;
        margin-top: 10px;
        margin-right: 10px;
    }
}
.spinnerClass{
     --lwc-brandPrimary: #50A771;
}
.sessionFormInstruction{
    padding: 0px 30px 0px 30px;
}
.sessionAccordion {
    border-top: 6px solid #E6E6E6;
    margin: 0px -15px;
    padding: 20px 30px;
    border-bottom: 6px solid #E6E6E6;
}
.completeButton{
    margin-left: 3%;
    --slds-c-button-brand-color-background: #92DB72 !important;
    --sds-c-button-brand-color-border: #0e0e0d5c;
    --slds-c-button-brand-text-color: #000000;
}
.incompleteButton{
    margin-left: 3%;
    --slds-c-button-brand-color-background: #E88776 !important;
	--sds-c-button-brand-color-border: #0e0e0d5c;
	--slds-c-button-brand-text-color:  #000000;
}
.saveButton{
    --slds-c-button-brand-color-background: #50A771 !important;
	--sds-c-button-brand-color-border: #0e0e0d5c;
	--slds-c-button-brand-text-color:  #fff;
}
.saveDiv{
    text-align: center;
    margin: 30px 0px;
}