.slds-has-button-menu .slds-th__action-button{
    display: none;
}
ul.slds-p-horizontal_small {
    text-align: center;
}
ul.slds-p-horizontal_small li {
    display: inline;
    padding: 10px;
}
th:first-child {
    /* display: flex !important; */
}

thead tr th:first-child,
 tbody tr td:first-child {
    width: 100px;
 }
 
.spinner{
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
}
table th.slds-m-left_large:first-child {
    text-align: center;
    display: block !important;
    margin-left: 0px;
}
@media (max-width: 767px) {
    ul.slds-p-horizontal_small li {
        display: block;
        padding: 3px;
    }
    div ul.slds-p-horizontal_small {
        text-align: left !important;
    }
    .slds-align_absolute-center.slds-m-bottom_small.slds-box {
        display: block;
    }
    ul.slds-p-horizontal_small {
        padding-left: 3px;
    }
}
lightning-layout-item.slds-size_12-of-12.layoutDiv {
    margin: auto;
    text-align: center;
}