.headerImage{
    float:left;
    height: 50px;
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 2px;
}
.headerText{
    font-size: 20px;
    margin-right: 25px;
}
@media only screen and (max-width: 767px){
    .headerText{
        font-size: 8px;
        margin-right: 10px;
    }
}
@media only screen and (max-width: 767px){
    .headerImage{
        height: 22px;
        margin-left: 10px;
        margin-top: 5px;
    }
}
.headerSize{
    background-color: white; /* Or your preferred color */
    height: 60px; 
    display: flex; 
    align-items: center; 
    justify-content: space-between;
}
@media only screen and (max-width: 767px){
    .headerSize{
        background-color: white; /* Or your preferred color */
        height: 30px; 
        display: flex; 
        align-items: center; 
        justify-content: space-between;
    }
}