.THIS .clschecked .slds-checkbox_faux {
    border-color: rgb(0, 178, 0)!important; /*Choose your color*/
    box-shadow: 0 0 3px #006A00; /*Choose a darker color for the shadow*/
    background-color: rgb(0, 178, 0) !important;
}

.THIS.slds-spinner_container {  
  z-index: 10000;
  position: fixed;   
}