.slds-has-button-menu .slds-th__action-button{
    display: none;
}
ul.slds-p-horizontal_small {
    text-align: center;
}
ul.slds-p-horizontal_small li {
    display: inline;
    padding: 10px;
}
/* th:first-child {
    display: flex !important;
} */

thead tr th:first-child,
 tbody tr td:first-child {
    width: 100px;
 }

.spinner{
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
}
@media (max-width: 767px) {
    ul.slds-p-horizontal_small li {
        display: block;
        padding: 3px;
    }
    div ul.slds-p-horizontal_small {
        text-align: left !important;
    }
    .slds-align_absolute-center.slds-m-bottom_small.slds-box {
        display: block;
    }
    ul.slds-p-horizontal_small {
        padding-left: 3px;
    }
}
lightning-layout-item.slds-size_12-of-12.layoutDiv {
    margin: auto;
    text-align: center;
}
table th.slds-m-left_large:first-child {
    text-align: center;
    display: block !important;
    margin-left: 0px;
}
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width:fit-content;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}