.footerTop {
    padding-left: 70px;
    padding-top: 20px;
    font-weight: bold;
}

@media only screen and (max-width: 767px) {
    .footerTop {
        padding-left: 20px;
        padding-top: 10px;
    }

    ul.footer-list {
        list-style-type: none;
        padding-left: 40px;
        margin-top: 20px;
        padding-bottom: 10px;
    }

}

.footer-list {
    list-style-type: none;
    padding-left: 90px;
    margin-top: 20px;
    padding-bottom: 10px;
}

.footer-list li {
    /* padding: 0.5rem 0;
    border-bottom: 1px solid #dddbda; */
    position: relative;
    padding-left: 0.7rem;
    line-height: 1.3;
    color: #49445C;
    padding: 2px;
}

.footer-list li:before {
    content: "•";
    color: #49445C;
    /* font-weight: bold; */
    font-size: 0.6rem;
    position: absolute;
    left: -12px;
    top: 25%;
}